.key {
  width: 25%;
  height: 15vh;
  border: 1px solid white;
  border-radius: 0;
  font-size: 20px;
  background-color: #bdc8d0;
  cursor: pointer;
  box-sizing: border-box;
}

.key.wide {
  width: 50%;
}

.key.blue {
  background-color: #299bff;
  color: white;
}
.key.memory {
  width: 20%;
  height: 10vh;
  background-color: #f0efef;
}

.key:hover {
  background-color: #92a4b1;
}

.key.blue:hover {
  background-color: #1b8bec;
}
.key.memory:hover {
  background-color: #dad8d8;
}
.screen {
  height: 15vh;
  width: 100%;
  background-color: #3b3e41;
  color: white;
  padding: 8px;
  font-size: 24px;
  box-sizing: border-box;
}
